// To use these variables, paste @import "sassPartial"; at the top of your scss file

$margin-top: 180px;

// colors
$darkest: hsl(228, 19%, 5%);
$dark: hsl(213, 24%, 16%);
$light: hsl(210, 2%, 78%);
$colourLight: hsl(176, 96%, 69%);
$colourDark: hsl(177, 40%, 45%);

//create a variable with multiple values (a list)
$scheme-light: $light, $darkest;
$scheme-dark: $dark, $dark;

//color scheme mixin
@mixin color-scheme($text, $bg) {
  background-color: $text;
  color: $bg;
}

/* this mixin makes all of the images the same size without stretching them DO NOT CHANGE*/
@mixin imageSize(){
  float: left;
  width:  20vw;
  height: 40vh;
  object-fit: cover;
  border-radius: 4px;
}

/* this mixin makes all of the featured images the same size without stretching them DO NOT CHANGE*/
@mixin featuredImageSize(){
  float: left;
  width:  10vw;
  height: 20vh;
  object-fit: cover;
  border-radius: 4px;
}

// .nav {
//   if mode === lighting-color
//   @include color-scheme($scheme-dark...);
// } or do we use media queries

.darkMode {
  //when passing in a list as arguments use three dots
  @include color-scheme($scheme-light...)
}

.lightMode {
  @include color-scheme($scheme-dark...)
}