.itemDetail {
  display: grid;
  //if we specify columns, but not rows, it assumes there can be more than one row.
  //create two columns
  grid-template-columns: 33% 66%;
  margin-top: 180px;
  margin-left: 4em;
  margin-right: 4em;
}

//create a column that is 1 fraction of the whole page
.images {
  display: grid;
  grid-template-columns: 1fr;
}

//create a column that is 1 fraction of the whole page
.info {
  display: grid;
  grid-template-columns: 1fr;
}

//anything with this class will be in column 1 and centered
.column1 {
  grid-column-start: 1;
  place-self: center;
}

//anything with this class will be in column 2
.column2 {
  grid-column-start: 2;
}

.description {
  text-align: left;
  padding: 3em;
}

hr {
  width: 100%;
  float: right;
}

/* this class makes the images the same size without stretching it DO NOT CHANGE*/
.imageContainer {
    float: left;
    width:  20vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 4px;
    margin: 5px;
}

.footer {
  position:absolute
}