//this will space out our item photos

.itemsContainer {
  margin-top: 180px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // margin-left: 4em;
  // margin-right: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  
}