@import "sassPartial";

//this will space out our item photos
.itemsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 2em;
  margin-right: 2em;
}

//this will center the items within their divs
.itemContainer {
  display: flex;
  justify-content: center;
}

.top-element {
  margin-top: $margin-top;
}

.featuredImage  {
  @include featuredImageSize()
}

.test {
  //create layout for the component using css grid
  display: grid;
  //if we specify columns, but not rows, it assumes there can be more than one row.
  //create two columns
  grid-template-columns: 33% 66%;
  margin-left: 4em;
  margin-right: 4em;
}

//style the contents of the images div using flexbox
.left {
  display: flex;
  align-items: left;
  flex-direction: row;
}

//style the contents of the info div using flexbox
.right {
  display: flex;
  align-items: left;
  flex-direction: row;
}