.nav-bar {
  background-color: rgb(26, 255, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;

    .top-nav, .bottom-nav {
     width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .categories {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%
    }
    .right-nav {
      display: flex;
      flex-direction: row;
        div {
         margin-right: 15px;
        }
    }
    .search {
      background-color: grey;
      align-items: center;
      z-index: 2;
    }
    .logo {
      margin-left: 2em;
    }

}
