.nav {
  display: flex;
  justify-content: space-around;
}

.search-bar-with-results {
  flex-direction: column;
  position: fixed;
}

.search-bar-text {
  flex-direction: row;
  z-index: 2;
}

.results {
  background-color: antiquewhite;
  color: black;
  position: fixed;
  top: 30px;
  z-index: 1;
}